# Database configuration
DATABASE_URL="postgresql://user:password@localhost:5432/logsdb" # POSTGRES DATABASE URL

# Keys
MASTER_KEY="your-master-key-here" # MASTER KEY FOR ADMIN OPERATIONS

# Server configuration

PORT=3000 # API PORT
USE_AUTH=true # HABILITA OU DESABILITA AUTENTICAÇÃO (Proibido em produção)


# ENVIRONMENT

NODE_ENV=dev # NODE ENVIRONMENT (dev, prod)